@import url('https://fonts.googleapis.com/css2?family=Quando&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quando', serif;
    scroll-behavior: smooth;
}

.footer {
    width: 100%;
    background-color: #352728;
}

.footer-conteiner {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contato-creditos {
    color: white;
    font-family: 'Quando', serif;
    font-size: 15px;
    padding: 10px 0;
}

.icons {
    display: flex;
    gap: 25px;
}

@media (max-width:1200px) {
    .contato-creditos{
        text-align: center;
    }
    
    .footer-conteiner {
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
    }
   
}

.links {
    height: 32px;
    width: 32px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

.links1 {
    background-image: url(../img/githubF2.svg);
}

.links2 {
    background-image: url(../img/linkedinF2.svg);
}

.transparente {
    transition: ease-in-out 0.3s;
}

.transparente:hover {
    opacity: 0;
}
