@import url('https://fonts.googleapis.com/css2?family=Quando&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quando', serif;
    scroll-behavior: smooth;
}
.footer{
    width: 100%;
    background-color: #352728;
}
.footer-conteiner{
    max-width: 1173px;
    margin: 0 auto;
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}
.contato-creditos{
    color: white;
    font-family: 'Quando', serif;
    font-size: 15px;
}
.icons{
    display: flex;
    gap: 25px;
}