@import url('https://fonts.googleapis.com/css2?family=Quando&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quando', serif;
    scroll-behavior: smooth;
}

#habilidades {
    background-color: #493737;
}

.habilidades-pd {
    padding-top: 93px;
}

.habilidades-pd h2 { 
    text-align: center;
    padding-bottom: 70px;
}

.skills-descricao {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap:50px;
    padding-bottom: 70px;
}

.conteiner-skills {
    display: flex;
    flex-wrap: wrap;
    gap: 37px;
    max-width: 535px;
}

.skill-box {
    height: 106px;
    width: 106px;
    background-color: #C4C4C4;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    transition: ease-in-out 0.3s;
}

.skill-box:hover {
    background-color: white;
}

.conteiner-descricao {
    color: white;
    font-family: 'Quando', serif;
    font-size: 20px;
    max-width: 40%;
}

@media (max-width:1200px) {
    #habilidades {
        display: flex;
        justify-content: center;
    }

    .skills-descricao {
        display: flex;
        flex-direction: column-reverse;
        /* width: 535px; */
        margin: 0 auto;
        gap:50px;
        padding-bottom: 70px;
        align-items: center;
    }

    .skills-descricao p {
        text-align: center;
    }

}
@media (max-width:950px) {
    .conteiner-skills {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 37px;
        max-width: 300px;
    }

    .conteiner-descricao {
        max-width: 300px;
    }

}

.html {
    transition: ease-in-out 0.3s;
}

.html:hover {
    opacity: 0;
}

.skill1 {
    background-image: url(../img/html.svg);
}
.skill1:hover {
    background-image: url(../img/html2.svg);
}

.skill2 {
    background-image: url(../img/css.svg);
}
.skill2:hover {
    background-image: url(../img/css2.svg);
}

.skill3 {
    background-image: url(../img/js.svg);
}
.skill3:hover {
    background-image: url(../img/js2.svg);
}

.skill4 {
    background-image: url(../img/node.svg);
}
.skill4:hover {
    background-image: url(../img/node2.svg);
}

.skill5 {
    background-image: url(../img/php.svg);
}
.skill5:hover {
    background-image: url(../img/php2.svg);
}

.skill6 {
    background-image: url(../img/java.svg);
}
.skill6:hover {
    background-image: url(../img/java2.svg);
}

.skill7 {
    background-image: url(../img/react.svg);
}
.skill7:hover {
    background-image: url(../img/react2.svg);
}

.skill8 {
    background-image: url(../img/sql.svg);
}
.skill8:hover {
    background-image: url(../img/sql2.svg);
}

.skill9 {
    background-image: url(../img/git.svg);
}
.skill9:hover {
    background-image: url(../img/git2.svg);
}

.skill10 {
    background-image: url(../img/github.svg);
}
.skill10:hover {
    background-image: url(../img/github2.svg);
}

.skill11 {
    background-image: url(../img/bootstrap.svg);
}
.skill11:hover {
    background-image: url(../img/bootstrap2.svg);
}

.skill12 {
    background-image: url(../img/typescript.svg);
}
.skill12:hover {
    background-image: url(../img/typescript2.svg);
}