@import url('https://fonts.googleapis.com/css2?family=Quando&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quando', serif;
    scroll-behavior: smooth;
}

#projetos {
    background-color: #352728;
}

.projetos {
    padding-top: 93px;
}

.projetos h2, .projetos a {
    text-align: center;
}

.projetos h2 {
    padding-bottom: 70px;
}

button {
    padding: 10px 100px;
    border-radius: 25px;
    cursor: pointer;
    color: white;
    background-color: #493737;
    border: none;
    transition: ease-in-out 0.3s;
}

button:hover {
    background-color: #a16c60;
}

.github-link {
    margin: 0 auto;
    padding-top: 35px;
    padding-bottom: 93px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

.projetos a {
    display: inline;
}

.pro {
    background-color: #C4C4C4;
    height: 195px;
    width: 310px;
    border-radius: 20px;
}

.escondido {
    display: none;
}

.projetos-itens {
    display: flex;
    flex-wrap: wrap;
    gap: 29.5px;
    width: 100%;
    justify-content: center;
}

@media (max-width:1200px) {
  .projetos{
      text-align: center;
      display: flex;
      flex-direction: column;
  }

  #projetos {
      display: flex;
      justify-content: center;
  }

  .projetos-itens {
      flex-direction: column;
  }

}
@media (max-width:950px) {
    .pro {
        max-width: 300px;
    }

}