@import url('https://fonts.googleapis.com/css2?family=Quando&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Quando&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quando', serif;
}
#sobre-mim{
    width: 100%;
    background-color: #493737;
}
.ajustador-2{
    padding: 144px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 110px;
    max-width: 1064px;
    margin: 0 auto;
}
h2{
    font-family: 'Press Start 2P', cursive;
    font-size: 45px;
    color: white;
}
.sobre-mim p{
    text-indent: 30px;
    font-size: 20px;
    max-width: 609.25px;
    color: white;
}
@media (max-width:1200px){
    .ajustador-2{
        padding: 144px 0;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 55px;
        max-width: 1064px;
        margin: 0 auto;
    }
    .sobre-mim h2, .sobre-mim p{
        text-align: center;
    }
    .sobre-mim p{
        text-indent: 0;
    }
    .avatar{
        padding-right:55px;
    }
}
    